.productContainer {
    background: #f8f9fa;
    padding: 4rem 18rem;
  }
  .previewCard{
    width: 25.5rem;
    height: 25rem;
  }
  
  @media screen and (max-width: 960px) {
    .productContainer {
      padding: 2rem 4rem;
    }
  }
  