body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1; 
  min-height: 100vh;
}

.productContainer {
  background: #f8f9fa;
  padding: 4rem 18rem;
}


@media screen and (max-width: 960px) {
  .productContainer {
    padding: 2rem 4rem;
  }
}
